<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aluno.appbio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash loading -->
        <activity
            android:name=".Interface.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela principal -->
        <activity
            android:name=".Interface.TelaPrincipal"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Listar assuntos -->
        <activity
            android:name=".Interface.ModoEstudo.MostrarAssuntos"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Modo Quiz -->
        <activity
            android:name=".Interface.ModoQuiz.ModoQuiz"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Configurações como tamanho da fonte, cor, etc -->
        <activity
            android:name=".Interface.Configuracoes"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Ajuda de como usar o aplicativo -->
        <activity
            android:name=".Interface.Ajuda"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Informações adicionais sobre o app -->
        <activity
            android:name=".Interface.Legal"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Configurar o número de perguntas, assuntos, etc -->
        <activity
            android:name=".Interface.ModoQuiz.ConfigurarModoQuiz"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Mostrar na tela o conteudo que o usuário selecionou -->
        <activity
            android:name=".Interface.ModoEstudo.ConteudoSelecionado"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Listar todos os conteudos -->
        <activity
            android:name=".Interface.ModoEstudo.MostrarConteudos"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>